<html>
  <body>
    <title>Search Character by ID or Name with this input</title>
    <form method="GET" action="/character">
      <label for="idOrName">Enter Character ID or Name:</label>
      <input type="text" id="idOrName" name="idOrName" />
      <button type="submit">Find</button>
    </form>
  </body>
</html>
